/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}


.section {
  padding: 4rem;
  text-align: center;
}


.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

/* Header*/
.header{
  background-color: #050a13;
  position: sticky;
    top:0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header__logo{
  display: flex;
  align-items: center;
  gap:8px;

}

.header__logo__img{
  width: 36px;
  height: 36px;
  margin-left: 5px;
  margin-top: 5px;
}

.header__logo__title{
  font-size: 1.8rem;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 5px;
}

.header__menu{
  display: flex;
  gap: 4px;
}

.header__menu__item{
  padding: 8px 16px;
}

.header__menu__item:hover{
  border-bottom: 1px solid var(--color-accent)
}

#slideshow {
    width: 1000px;
    height: 300px;
    overflow: hidden; /* 넘치는 이미지를 자르기 위해 사용 */
    position: relative; /* 자식 요소의 위치를 설정하기 위해 사용 */
    padding-bottom: 3rem;

  }
  #slideshow img {
    width: 100%;
    height: auto;
    position: absolute; /* 부모 요소 내에서 위치를 설정하기 위해 사용 */
    top: 0;
    left: 0;
    opacity: 0; /* 초기에 모든 이미지를 숨김 */
    transition: opacity 0.5s ease; /* 부드러운 전환 효과 설정 */
  }
  #slideshow img.active {
    opacity: 1; /* 활성 이미지를 표시 */
  }


  #products{
    width: 1000px;
    height: 300px;
    position: relative;
    display: flex;
    padding-bottom: 3rem;

  }

  #products img{
    width: 100%;
    height: 100%;
    margin: 10px;
  }

 




  #solutions{
    width: 1000px;
    height: 300px;
    position: relative;
    display: flex;
    padding-bottom: 3rem;

  }

  #solutions img{
    width: 100%;
    height: 100%;
    margin: 10px;
  }



  .banner_img{
    display:inline-block;
    position: relative;
  }
  .banner_img:hover:after
  {
    display:block;
  } 
   .banner_img:hover > .hover_text
  {
    display:block;
  } 
  .banner_img:after,.hover_text{
    display:none;
  }
  .banner_img:after{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  .banner_img {
    overflow: hidden;
  }
  .banner_img img{
    height: 340px;
  }
  .banner_img:hover img{
    transform: scale(1.2);
    transition: 1s;
  }
  .hover_text {
    position: absolute;
    top: 140px;
    left: 25px;
    color: #fff;
    z-index: 20;
    font-weight: 600;
    font-size: 20px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }


 #testimonial{
  position: relative;
  margin: 2rem;

}
  
  #testimonial p {
    opacity: 0;
    transition: opacity 0.5s ease; /* 텍스트가 부드럽게 나타나고 사라지도록 설정합니다. */
    position: absolute; /* 텍스트 요소를 겹치게 합니다. */
    width: 100%; /* 부모 요소의 가로폭을 따라가도록 설정 */
    margin: 1rem;
    text-align: center;
font-size: 3rem;
  }
  
  #testimonial p.active {
    opacity: 1;
  }

  .about__title{
    margin: 1rem;
  }

  .works {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  gap: 1rem;
  }

  .work {
    background-color: var(--color-primary-variant);
    color: var(--color-text);
    border-radius: 1rem;
    padding: 2rem 1rem; 
    cursor: default;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
  }

  .work__icon{
    color: var(--color-blue);
    margin: 1rem 0;
    font-size: 4rem;
    transition: all 300ms ease;
  }

  .work:hover .work__icon{
    transform: rotate(-15deg) scale(1.2);

  }

  .work__title{
    font-size: 2rem;
    margin: 1rem;
  }

  .work__description{
    font-size: 1.2rem;
  }




  .products{
    margin: auto;
  }

  .product{
    display: flex;
    margin: 2rem 1rem;
  }

  .product__description{
    margin: 2rem;
  }



  